@model Admin.AdminIndexViewModel;

@* @section Breadcrumbs {
    <div class="container-header">
        <div class="header-one">
            Admin
        </div>
    </div>
} *@

<div class="section-container">
    <input id="button" type="button" value="Add new admin" class="add">
    <div class="table">
        <table class="table-main">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Username</th>
                    <th>Job Title</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Admins)
                {
                    <tr>
                        <td><button type="submit" value="@item.Username" class="admin-edit">Edit</button></td>
                        <td>@item.Username</td>
                        <td>@item.JobTitle</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="tr-tfoot">
                    @* <td><span>Page 1 of 1</span></td> *@
                    <td colspan="3">
                        @if (Model != null)
                        {
                            <span>
                                @for (int pageNumber = 1; pageNumber <= Model.Pagination.TotalPages; pageNumber++)
                                {
                                    <a asp-action="Index" asp-route-pageNumber="@pageNumber">@pageNumber</a>
                                }
                            </span>
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class="modal">
    <form action="" method="post" class="form-modal">
        <table class="table-modal">
            <tr class="tr-modal">
                <td class="td-modal"><label for="">Username</label></td>
                <td class="td-modal"><input type="text" name="" id="username"></td>
            </tr>
            <tr class="tr-modal">
                <td class="td-modal"><label for="">Job Title</label></td>
                <td class="td-modal"><input type="text" name="" id="jobTitle"></td>
            </tr>
            <tr class="tr-modal">
                <td class="td-modal"></td>
                <td class="td-modal">
                    <button type="submit" class="insert-admin">Save</button>
                    <button type="submit" class="update-admin">Save</button>
                    <button type="submit" class="close-admin">Close</button>
                </td>
            </tr>
        </table>
        <div>
        </div>
    </form>
</div>

<script src="~/js/admin-script.js" defer></script>
